.Seperator {
  background-color: #61dafb;
  padding: 5px;
}

.NavBar {
  flex-direction: row;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  flex: 1;
}

.NavBarLink {
  padding: 1em;
  font-size: em(22);
  text-decoration: none;
}

.PageTitle {
  font-size: 40px;
  font-weight: bolder;
}

.Landing {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  flex-direction: row;
  min-height: 80vh;
  justify-self: center;
  align-self: center;
}

.LandingBody {
  font-size: 36px;
  align-self: center;
}

h3 a {
  text-decoration: none;
  color: #61dafb;
}
